$fuente-principal: 'Plus Jakarta Sans', sans-serif;
$azul: #254E70;
$negro: #00171F;
$gris: #404E4D;
$blanco: #ffffff;
$fondo-claro: #f5f5f7;

$transicion: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
$tablet: 768px;